<header class="fixed top-0 left-0 w-full z-50">
  <nav class="max-w-6xl mx-auto px-8 py-6
  flex items-center justify-between">
    <a
      href="/"
      class="text-xl font-bold tracking-wider
      hover:text-zinc-400 transition"
    >
      YIAlpha
    </a>

    <div class="flex gap-8 text-zinc-400">
      <a href="/" class="hover:text-white transition"> Home </a>

      <a href="/blog" class="hover:text-white transition"> Blog </a>

      <a href="/projects" class="hover:text-white transition"> Projects </a>

      <a href="/about" class="hover:text-white transition"> About </a>
    </div>
  </nav>
</header>
